name: build-ubuntu

env:
  BUILD_TYPE: Release

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          # ---- STM32G431 ----
          - mcu: STM32G431
            variant_name: default
            variant_flag: ""
            variant_suffix: ""
          - mcu: STM32G431
            variant_name: VTX
            variant_flag: "-DBUILD_VARIANT=VTX"
            variant_suffix: "_VTX"

          # ---- STM32G474 ----
          - mcu: STM32G474
            variant_name: default
            variant_flag: ""
            variant_suffix: ""
          - mcu: STM32G474
            variant_name: VTX
            variant_flag: "-DBUILD_VARIANT=VTX"
            variant_suffix: "_VTX"

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Fetch all history for all branches and tags
        fetch-tags: true

    - name: Install Arm GNU Toolchain (arm-none-eabi-gcc)
      uses: carlosperate/arm-none-eabi-gcc-action@v1
      with:
        release: '14.2.Rel1' # <-- The compiler release to use

    - name : Create build directory
      run: mkdir -p build-${{ matrix.mcu }}-${{ matrix.variant_name }}

    - name : Configure & Build
      working-directory: ./build-${{ matrix.mcu }}-${{ matrix.variant_name }}
      run: |
        cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DTARGET_MCU=${{ matrix.mcu }} ${{ matrix.variant_flag }} ..
        make -j"$(nproc)"

    - name : Upload HEX
      uses: actions/upload-artifact@v4
      with:
        name: "firmware_${{ matrix.mcu }}${{ matrix.variant_suffix }}_HEX"
        path: ${{ github.workspace }}/build-${{ matrix.mcu }}-${{ matrix.variant_name }}/*.hex

    - name: Upload BIN
      uses: actions/upload-artifact@v4
      with:
        name: "firmware_${{ matrix.mcu }}${{ matrix.variant_suffix }}_BIN"
        path: ${{ github.workspace }}/build-${{ matrix.mcu }}-${{ matrix.variant_name }}/*.bin